style
    include flights.css
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

.container
  .info
    div.top-div
        a.main-travel(href='/') Travelo
        h1 Flights
    span Plan Your vacation with US

  .column
    .demo-title New York
    .post-module

      .thumbnail
        .date
          .day 17
          .month june
        img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/169963/photo-1429043794791-eb8f26f44081.jpeg')

      .post-content
        .category Photos
        h1.title City Lights in New York
        h2.sub_title The city that never sleeps.
        p.description Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut obcaecati incidunt iure et maxime hic libero id atque tenetur distinctio non aperiam dolore, cumque labore. Harum, culpa. Animi, nam placeat!
        .post-meta
          span.timestamp
            i.fa.fa-clock- o
            |  6 mins ago
          span.comments
            i.fa.fa-comments
            a(href='#')  30 comments
  .column
    .demo-title Sydney
    .post-module

      .thumbnail
        .date
          .day 6
          .month May
        img(src='https://images.unsplash.com/photo-1530276371031-2511efff9d5a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80')

      .post-content
        .category Photos
        h1.title Enjoy Nature in sydney
        h2.sub_title The city that loves you.
        p.description Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut obcaecati incidunt iure et maxime hic libero id atque tenetur distinctio non aperiam dolore, cumque labore. Harum, culpa. Animi, nam placeat!
        .post-meta
          span.timestamp
            i.fa.fa-clock- o
            |  6 mins ago
          span.comments
            i.fa.fa-comments
            a(href='#')  30 comments
  .column
    .demo-title Manchestr
    .post-module

      .thumbnail
        .date
          .day 1
          .month july
        img(src='https://images.unsplash.com/photo-1515586838455-8f8f940d6853?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=684&q=80')

      .post-content
        .category Photos
        h1.title Enjoy urban 
        h2.sub_title Urban city
        p.description Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut obcaecati incidunt iure et maxime hic libero id atque tenetur distinctio non aperiam dolore, cumque labore. Harum, culpa. Animi, nam placeat!
        .post-meta
          span.timestamp
            i.fa.fa-clock- o
            |  1 mins ago
          span.comments
            i.fa.fa-comments
            a(href='#')  10 comments
  .column
    .demo-title Hawai
    .post-module

      .thumbnail
        .date
          .day 1
          .month july
        img(src='https://images.unsplash.com/photo-1519221940556-1517c1b400d3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80')

      .post-content
        .category Photos
        h1.title Enjoy peace
        h2.sub_title City of Dreams
        p.description Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut obcaecati incidunt iure et maxime hic libero id atque tenetur distinctio non aperiam dolore, cumque labore. Harum, culpa. Animi, nam placeat!
        .post-meta
          span.timestamp
            i.fa.fa-clock- o
            |  8 mins ago
          span.comments
            i.fa.fa-comments
            a(href='#')  12 comments
    script(src='/flights.js')
