doctype html
html(lang='en')
  head
    title Landing Page
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    style
      include styles.css

  body
  
.container
  header

    h2
      a(href='#')
        i.ion-plane
        |  Travelo
    nav
      ul

        li
          a(href='#', title='Flights') Flights
        li
          a(href='http://localhost:4000/aboutus', title='Tours') About Us
        li
          a.btn(href='http://localhost:4000/weather/', title='Register / Log In') Check Weather
  .cover
  
    h1 Discover what's out there.
    #container
      #button-5.button
        #translate
        a(href='http://localhost:4000/aboutus') Let's Go!

            |


